/* --- FOOTER TOP --- */
.footer {
	color: var(--colorGrayLight);
}

.footer__top {
	padding: 70px 0 75px;
	background-color: var(--colorIndigoDye);
}

.footer__top .wrapper {
	display: flex;
	justify-content: space-between;
}

.footer__top-logo-group {
	max-width: 220px;
}

.logo--footer {
	margin-bottom: 29px;
}

.footer .logo__text {
	color: var(--colorWhite);
}

.footer__top-info-group {
	position: relative;
	display: flex;
	gap: 280px;
}

.footer__top-info-group::before {
	position: absolute;
	content: "";
	top: 50px;
	width: 95%;
	height: 1px;
	background-color: #3b454f;
}

.footer__top-info-group-activities {
	display: flex;
	gap: 101px;
}

.footer__top-info-group-list-box {
	display: flex;
	gap: 111px;
}

.footer__top-description {
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 11px;
	line-height: 1.55;
}

.footer__top-link {
	border-bottom: 1px solid var(--colorGrayLight);
}

.footer__top-link:hover {
	transform: none;
}

.footer__top-info-group-title {
	margin-bottom: 41px;
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: var(--colorWhite);
}

.footer__top-info-group-list {
	font-family: "Segoe UI", Arial, sans-serif;
	line-height: 2.27;
}

.footer__top-info-group-link {
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.footer__top-info-group-link:hover {
	color: var(--colorBlack);
	background-color: var(--colorYellow);
	transform: none;
	border: none;
}

.footer__top-info-group-contacts {
	transform: translateX(-10px);
}

.title--contacts {
	margin-bottom: 47px;
}

.contacts__email {
	display: inline-block;
	margin-bottom: 10px;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 18px;
	line-height: 2;
	border: 1px solid transparent;
}

.contacts__email:hover {
	transform: none;
}

.footer__top-info-group-contacts .button {
    display: inline-block;
    padding: 10px 25px;
}

.footer__top-info-group-contacts .button:hover {
	color: var(--colorWhite);
	transform: none;
}

.socials {
	margin-top: 45px;
	font-style: normal;
}

.socials__title {
	margin-bottom: 15px;
}

.socials__list {
	display: flex;
	align-items: center;
	gap: 10px;
}

.socials__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 37px;
	height: 37px;
	background-color: var(--colorGrayExt);
	border-radius: 5px;
	transition: all 0.75s;
}

.socials__item:hover {
	background-color: var(--colorYellow);
	transform: scale(1.2);
	cursor: pointer;
}

.socials__link {
	display: block;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.socials__link:hover {
	border: none;
}

.socials__link--whatsapp {
	width: 17px;
	height: 17px;
	background-image: url("../icons/footer/footer-contacts-icons-01-whatsapp.svg");
}

.socials__link--vk {
	width: 19px;
	height: 11px;
	background-image: url("../icons/footer/footer-contacts-icons-02-vk.svg");
}

.socials__link--telegram {
	width: 15px;
	height: 13px;
	background-image: url("../icons/footer/footer-contacts-icons-03-telegram.svg");
}



/* --- FOOTER BOTTOM --- */

.footer__bottom {
	padding: 28px 0;
	background-color: var(--colorIndigoDeep);
}

.footer__bottom-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	margin-left: 80px;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 13px;
	line-height: 1.85;
	border-bottom: 1px solid transparent;
}

.copyright:hover {
	transform: none;
}

.developers {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-right: 5px;
}

.developers__text {
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 13px;
	line-height: 1.85;
}

.developers__link {
	display: flex;
	align-items: center;
	gap: 5px;
}

.developers__link:hover {
	border: none;	
}

.footer a:focus {
	outline-color: var(--colorYellow);
}


@media (max-width: 1536px) {
	.footer__top-info-group-activities {
		gap: 75px;
	}

	.footer__top-info-group-list-box {
		gap: 50px;
	}

	.footer__top-info-group {
		gap: 175px;
	}
}
/* ↑↑↑ 1536px ↑↑↑ */



@media (max-width: 1366px) {
	
	.footer__top-info-group {
		gap: 125px;
	}
	
}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 1280px) {

	.footer__top-info-group {
		gap: 75px;
	}
	
}
/* ↑↑↑ 1280px ↑↑↑ */



@media (max-width: 1180px) {
	
	.footer__top {
		padding: 70px 0 70px;
		background-color: var(--colorIndigoDye);
	}

	.footer__top-logo-group {
		max-width: 180px;
	}

	.footer__top-info-group {
		gap: 40px;
	}

	.footer__top-info-group-activities {
		gap: 20px;
	}

	.footer__top-info-group-list-box {
		gap: 20px;
	}
	
	.footer__bottom {
		padding: 25px 0;
		background-color: var(--colorIndigoDeep);
	}

}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 1024px) {
	
	.footer__top .wrapper {
		flex-direction: column;
		gap: 50px;
	}

	.footer__top-logo-group {
		max-width: 40%;
		margin: 0 auto;
		text-align: center;
	}
	
	.logo--footer {
		justify-content: center;
		margin-right: unset;
	}

	.footer__top-info-group {
		flex-direction: column;
		margin: 0 auto;
	}

	.footer__top-info-group-activities {
		gap: 100px;
	}

	.footer__top-info-group-list-box {
		gap: 100px;
	}

	.footer__top-info-group-contacts {
		transform: unset;
		margin: 0 auto;
		text-align: center;
	}
	
	.footer__top-info-group-title {
		margin-bottom: 30px;
		font-size: 18px;
	}

	.title--contacts {
		margin-bottom: 15px;
	}

	.socials__list {
		justify-content: center;
		gap: 20px;
	}
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 768px) {
	
	.footer__bottom-inner {
		flex-direction: column-reverse;
		gap: 20px;
	}
	
	.copyright {
		margin-left: unset;
	}

}
/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 534px) {

	.footer__top-info-group-activities {
		display: none;
	}
	
	.footer__top-logo-group {
		max-width: 80%;
	}

	.title--contacts {
		margin-bottom: 8px;
	}

	.footer__top-info-group-title {
		margin-bottom: 20px;
	}

	.footer__bottom-inner {
		flex-direction: column;
		gap: 15px;
		text-align: center;
	}
	
	.footer__top-info-group::before {
		display: none;
	}

}
/* ↑↑↑ 534px ↑↑↑ */